{% extends 'base_html.html' %}

{% block content %}

<h1 class = 'heading'> RG User Info </h1>

        <div style = "justify-content:center;margin-left:100px; margin-top:50px; font-size:25px; font-family: serif; color:black;">
            
            <p style = "">
            Tool to extract reports from database.
            </p>
            <p style = "">
                Timing is displayed in IST Timezone
            </p>
            <p style = "">
                
            </p>
        

        </div>


{% endblock %}