{% extends 'base_html.html' %} 
{% load static %}

{% block search %}
<div class="search-container">
    <div class="search-wrapper">
        <div class="search-row">
            <form>
            <input class = "search-input" type="search-text" name="q" placeholder="Search Regions" />
            </form>
            <div class="search-icon">
                <i class="fa fa-search"></i>
                <i class="fa-solid fa-xmark"></i>
            </div>
        </div>
    </div>
</div>
{% endblock%}

{% block content %}
<h1 class = 'heading'> 
        Manage Regions
      </h1>  

  {% comment %} <div class = "col-4" style="margin-top: 40px">
    <form class="form-inline my-2 my-lg-0 form" style="display: flex">
        <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search Regions" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
  </div> {% endcomment %}

</div>

<div class="container px-5 my-5">
  <form id="contactForm" action="" method="post" autocomplete="off">
    {% csrf_token %}
    <div class="form-floating mb-3">
      {{form.Region}}
      <label for="region">Region</label>
      <div class="invalid-feedback" data-sb-feedback="region:required">
        Region is required.
      </div>
    </div>
    <div class="form-floating mb-3">
      {{form.DB_Host}}
      <label for="DB_Host">DB_Host</label>
      <div class="invalid-feedback" data-sb-feedback="DB_Host:required">
        DB_Host is required.
      </div>
    </div>
    <div class="form-floating mb-3">
      {{form.DB_Service_Name}}
      <label for="DB_Service_Name">DB_Service_Name</label>
      <div class="invalid-feedback" data-sb-feedback="DB_Service_Name:required">
        DB_Service_Name is required.
      </div>
    </div>
    <div class="form-floating mb-3">
      {{form.DB_Port}}
      <label for="DB_Port">DB_Port</label>
      <div class="invalid-feedback" data-sb-feedback="DB_Port:required">
        DB_Port is required.
      </div>
    </div>

    <div class="d-grid" style="margin-top: 32px;">
      <button
        class="btn"
        style="
          background-color: lightseagreen;
          padding: 12px 14px 13px;
          color: lightcyan;
          font-size: 18px;
          font-weight: 500;
        "
        id="submitButton"
        type="submit"
      >
        Submit
      </button>
    </div>
  </form>

  <div class="container" style="margin-top: 48px; padding-left: 0">
    <li class="list-group-item" style="border-bottom: 1px solid green;">
      <div class="row">
        <div class="col-2">
          <h6
            class=""
            aria-hidden="true"
            style="
              font-weight: inherit;
              font-style: inherit;
              font-size: 20px;
              letter-spacing: 0.2px;
            "
          >
            Region</h6
          >
        </div>
        <div class="col-3">
          <h6
            class=""
            aria-hidden="true"
            style="
              font-weight: inherit;
              font-style: inherit;
              font-size: 20px;
              letter-spacing: 0.2px;
            "
          >
            DB_Host</h6
          >
        </div>
        <div class="col-3">
          <h6
            class=""
            aria-hidden="true"
            style="
              font-weight: inherit;
              font-style: inherit;
              font-size: 20px;
              letter-spacing: 0.2px;
            "
          >
            DB_Service_Name</i
          >
        </div>
        <div class="col-2">
          <h6
            class=""
            aria-hidden="true"
            style="
              font-weight: inherit;
              font-style: inherit;
              font-size: 20px;
              letter-spacing: 0.2px;
            "
          >
            DB_Port</h6
          >
        </div>
        <div class="col-1">
          <h6
            class=""
            aria-hidden="true"
            style="
              font-weight: inherit;
              font-style: inherit;
              font-size: 20px;
              letter-spacing: 0.2px;
              {% comment %} padding: 5px; {% endcomment %}
            "
          >
            Edit</h6>
        </div>

        <div class="col-1">
          <h6 class="" aria-hidden="true" style  = "
              font-weight: inherit;
              font-style: inherit;
              font-size: 20px;
              letter-spacing: 0.2px;
            "
          >
            Delete</h6>
        </div>
      </div>
    </li>
  </br>

    {% for list in list %}

    <li class="list-group-item">
      <div class="row">
        <div class="col-2" style="margin-bottom: 4px; font-size: 16px;">
          <p class="" aria-hidden="true" style="padding: 0 5px 0;"> {{ list.Region }}</p>
        </div>
        <div class="col-3" style="margin-bottom: 4px; font-size: 16px;">
          <p class="" aria-hidden="true" style="padding: 0 5px 0;"> {{ list.DB_Host }}</p>
        </div>
        <div class="col-3" style="margin-bottom: 4px; font-size: 16px;">
          <p class="" aria-hidden="true" style="padding: 0 5px 0;">
            {{ list.DB_Service_Name }}</p
          >
        </div>
        <div class="col-2" style="margin-bottom: 4px; font-size: 16px;">
          <p class="" aria-hidden="true" style="padding: 0 0 0 18px;"> {{ list.DB_Port }}</p>
        </div>
        <div class="col-1" style="text-align: center">
          <a
            href="{% url 'query_app:manage_regions_update' list.Region  %}"
            class="btn text-secondary px-0"
          >
            <svg style="height: 22px;
            margin-top: -14px;
            fill: currentColor;
            margin-left: -10px;" xmlns="http://www.w3.org/2000/svg" fill="#000000" viewBox="0 0 30 30" width="30px" height="30px">    <path d="M 22.828125 3 C 22.316375 3 21.804562 3.1954375 21.414062 3.5859375 L 19 6 L 24 11 L 26.414062 8.5859375 C 27.195062 7.8049375 27.195062 6.5388125 26.414062 5.7578125 L 24.242188 3.5859375 C 23.851688 3.1954375 23.339875 3 22.828125 3 z M 17 8 L 5.2597656 19.740234 C 5.2597656 19.740234 6.1775313 19.658 6.5195312 20 C 6.8615312 20.342 6.58 22.58 7 23 C 7.42 23.42 9.6438906 23.124359 9.9628906 23.443359 C 10.281891 23.762359 10.259766 24.740234 10.259766 24.740234 L 22 13 L 17 8 z M 4 23 L 3.0566406 25.671875 A 1 1 0 0 0 3 26 A 1 1 0 0 0 4 27 A 1 1 0 0 0 4.328125 26.943359 A 1 1 0 0 0 4.3378906 26.939453 L 4.3632812 26.931641 A 1 1 0 0 0 4.3691406 26.927734 L 7 26 L 5.5 24.5 L 4 23 z"/></svg>
          </a>
        </div>

        <div class="col-1" style="text-align: center">
          <form
            class="float-right"
            action="{% url 'query_app:delete_region' list.Region %}"
            method="post"
            style="margin-top: 3px; margin-left: 4px;"
          >
            {% csrf_token %}
            <button type="submit" class="btn" style="padding: 0px">
              {% comment %} <h6
                style="
                  border: 2px solid;
                  color: white;
                  padding: 0px 5px 0px 5px;
                  background-color: red;
                  border-radius: 10px;
                "
                >del
              </h6> {% endcomment %}
              <svg style="height: 22px;
              margin-top: -10px;
              fill: crimson" xmlns="http://www.w3.org/2000/svg" fill="#000000" viewBox="0 0 30 30" width="30px" height="30px">    <path d="M 14.984375 2.4863281 A 1.0001 1.0001 0 0 0 14 3.5 L 14 4 L 8.5 4 A 1.0001 1.0001 0 0 0 7.4863281 5 L 6 5 A 1.0001 1.0001 0 1 0 6 7 L 24 7 A 1.0001 1.0001 0 1 0 24 5 L 22.513672 5 A 1.0001 1.0001 0 0 0 21.5 4 L 16 4 L 16 3.5 A 1.0001 1.0001 0 0 0 14.984375 2.4863281 z M 6 9 L 7.7929688 24.234375 C 7.9109687 25.241375 8.7633438 26 9.7773438 26 L 20.222656 26 C 21.236656 26 22.088031 25.241375 22.207031 24.234375 L 24 9 L 6 9 z"/></svg>
            </button>
          </form>
        </div>
      </div>
    </li>

    {% empty %}
    <li class="list-group-item">
      <span class="font-italic" style="font-size:12.5px;"><i>No Regions Added</i></span>
    </li>

    {% endfor %}
  </div>

  {% comment %} right top section {% endcomment %}

  <!-- hamburger -->
  {% comment %} <input type="checkbox" id="navi-toggle" class="checkbox" style="display: none;" />
  <label for="navi-toggle" class="button" style="position: relative;
  background-color: white;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  position: fixed;
  top: 5vh; 
  right: 0.8vw; 
  z-index: 2000;
  box-shadow: 1.1px 0.3px 0.11px black;
  text-align: center; 
  cursor: pointer;">
    <span class="icon">&nbsp;</span>
  </label>
  <div class="background">&nbsp;</div>

  <!-- nav -->
  <nav class="nav" style=" height: 100vh;
  position: fixed;
  top: 0;
  right: -60vw;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s;">
    <ul class="list" style="position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;">
      <li class="item" style=" margin: 1rem;
      font-size: 36px;"> <a class="link"> Link 1 </a> </li>
      <li class="item" style=" margin: 1rem;
      font-size: 36px;"> <a class="link"> Link 2 </a> </li>
      <li class="item" style=" margin: 1rem;
      font-size: 36px;"> <a class="link"> Link 4 </a> </li>
      <li class="item" style=" margin: 1rem;
      font-size: 36px;"> <a class="link"> Link 5 </a> </li>
      <li class="item" style=" margin: 1rem;
      font-size: 36px;"> <a class="link"> Link 6 </a> </li>
    </ul>
  </nav
</div>

<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
<script src='https://kit.fontawesome.com/a076d05399.js'></script> {% endcomment %}
{% endblock %}
